= form_for(@interaction) do |f|
  - if @interaction.errors.any?
    #error_explanation
      %h2
        = pluralize(@interaction.errors.count, "error")
        prohibited this interaction from being saved:
      %ul
        - @interaction.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :friend_id, "The Friend: "
    = select :interaction, :friend_id, Friend.all.collect {|p| [ p.name, p.id ] }
  .field
    = f.label :datetime, "When: "
    = f.text_field :datetime, {:class => "datetimepicker"}
  .field
    = f.label :interaction_type_id, "What: "
    = f.text_field :interaction_type_id
  
  .field
    = f.label :description, "Details: "
    %br/
    = f.text_area :description
  
  .field
    = f.label :points
    %br/
    = f.text_field :points
  .actions
    = f.submit
