= form_for(@friend, :html => {:multipart => true}) do |f|
  - if @friend.errors.any?
    #error_explanation
      %h2
        = pluralize(@friend.errors.count, "error")
        prohibited this friend from being saved:
      %ul
        - @friend.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name, "your friend's name: "
    = f.text_field :name
  .field
    = f.label :frequency_id, "frequency to interact: "
    = select :friend, :frequency_id, Frequency.all.collect {|p| [ p.name, p.id ] }
    
  .field
    = f.label :portrait, "upload your friend's portrait:"
    = image_tag(@friend.portait_url) if @friend.portrait?
    = f.file_field :portrait
    = f.label :remote_avatar_url, ", or from a url:"
    = f.text_field :remote_avatar_url
    
  .actions
    = f.submit