%h1
  = title("your friends")

.friend_page
  .nav(data-role="navbar")
    %ul
      %li
        = link_to "new friend", new_friend_path
      %li
        = link_to "best friends currently", best_friends_path
      %li
        = link_to "best friends ever", best_alltime_friends_path 
        
  
  = render 'friends/name_list', :friends => @friends     
  
  %br/
  = paginate @friends
        