%h1= @friend.name

.friend_page

  .portrait
    = image_tag(@friend.portrait_url) if @friend.portrait?
    

  .status
    #{pluralize @friend.score, 'point'}
    \-
    = @friend.frequency.name
    \- 
    = link_to 'edit', edit_friend_path(@friend)
    
  
  .notes
    = form_for(@friend) do |f|
      .field
        = f.text_area :notes
      .actions
        = f.submit :value => "save notes"


  
  .history
    - @friend.interactions.each do |interaction|
      .interaction           
        = "#{time_ago_in_words interaction.datetime} ago" 
        |
        = interaction.interaction_type.name
        |
        = interaction.description
        |
        = link_to 'edit', edit_interaction_path(interaction)
      