.friend_page
  %h1
    = @friend.name 
  .info
    .portrait
      = image_tag(@friend.portrait_url) if @friend.portrait?
    .status
      #{pluralize @friend.score, 'point'}
      \-
      = @friend.frequency.name
  .notes
    = form_for(@friend) do |f|
      .field
        = f.text_area :notes
      .actions
        = f.submit :value => "save notes"
          
  .history
    - @friend.interactions.order('datetime DESC').each do |interaction|
      .interaction
        .date       
          = raw link_to("#{time_ago_in_words(interaction.datetime)} ago", edit_interaction_path(interaction)) if interaction.datetime
        .name
          = interaction.interaction_type.name
        .description
          = interaction.description
      
      
  .nav
    = link_to "edit #{@friend.name}", edit_friend_path(@friend)