.friend_page

  .portrait
    = image_tag(@friend.portrait_url) if @friend.portrait?
  %h1
    = @friend.name    

  .status
    #{pluralize @friend.score, 'point'}
    \-
    = @friend.frequency.name
     
    
    
  
  .notes
    = form_for(@friend) do |f|
      .field
        = f.text_area :notes
      .actions
        = f.submit :value => "save notes"


  
  .history
    - @friend.interactions.order('datetime asc').each do |interaction|
      .interaction
        .date       
          = "#{time_ago_in_words interaction.datetime} ago" if interaction.datetime
        .name
          = interaction.interaction_type.name
        .description
          = interaction.description
        .edit
          = link_to 'edit', edit_interaction_path(interaction)
      
      
  .nav
    = link_to "edit #{@friend.name}", edit_friend_path(@friend)