= form_for(@interaction_type) do |f|
  - if @interaction_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@interaction_type.errors.count, "error")
        prohibited this interaction_type from being saved:
      %ul
        - @interaction_type.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
