= form_for(@frequency) do |f|
  - if @frequency.errors.any?
    #error_explanation
      %h2
        = pluralize(@frequency.errors.count, "error")
        prohibited this frequency from being saved:
      %ul
        - @frequency.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name, "the frequency named "
    = f.text_field :name, :style => "width:200px"
    %br/
    = f.label :number_of_days, " occurs every "
    = f.text_field :number_of_days, :style => "width:50px"
    days. 
  .actions
    = f.submit :value => 'update'
