!!!
%html
  %head
    %title Sociallatio
    
    = stylesheet_link_tag :all
    %link{ :media => "screen", :rel => "stylesheet", :type => "text/css", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/smoothness/jquery-ui.css" }
    
    %script{ :type => "text/javascript", :src => "https://www.google.com/jsapi?key=ABQIAAAALFcVECtS_cckPZPP6gEvtBQNqA7PXSQWBnZcv0WRsLc5vt2EwhRNL4XDqi3F3gVWu6gud-eJy35NIA" }
    :javascript
      google.load("jquery", "1.5.0");
      google.load("jqueryui", "1.8.9");
      google.load("webfont", "1.0.18");
      google.setOnLoadCallback(function() {
        WebFont.load({
          google: {
            families: [ 'Neuton', 'Josefin Slab' ]
          }});
      });
    = javascript_include_tag "jquery-ui-timepicker-addon"
    = csrf_meta_tag
  %body
    .header
      = link_to "sociallatio", root_url
    .content
      = yield
    .footer
