!!! 5
%html
  %head
    %title 
      Sociallatio
      = " | " + content_for(:title) if content_for?(:title)
    
    %link{ :rel => "shortcut icon", :href => '/assets/images/favicon.png' }
    %link{ :rel => "apple-touch-icon", :href => '/assets/images/favicon.png' }
    
    = stylesheet_link_tag 'application'


    = javascript_include_tag "application"
    = csrf_meta_tag
    
    %script{ :type => "text/javascript", :src => "https://www.google.com/jsapi?key=ABQIAAAALFcVECtS_cckPZPP6gEvtBQNqA7PXSQWBnZcv0WRsLc5vt2EwhRNL4XDqi3F3gVWu6gud-eJy35NIA" }
    :javascript
      google.load("chrome-frame", "1.0.2");
      google.load("webfont", "1.0.22");
      google.setOnLoadCallback(function() {
        WebFont.load({
          google: {
            families: [ 'Josefin Slab' ]
          }});
      });

  %body
    .wrapper
      .header
        = link_to "sociallatio", root_url
        .links
          - if current_user
            = (@friend && !@friend.name.blank?) ? link_to("interact", new_interaction_path({:friend => @friend.name+", "})) : link_to("interact", new_interaction_path)
            
      .content
        = render 'layouts/notices'
        = yield
      .footer_push
    .footer
      - if current_user
        = link_to("friends", friends_path)
        = link_to("interactions", interactions_path) 
        = link_to "learn your friends", learn_friends_path
        = link_to("settings", page_path('settings')) 
        = link_to("sign out", destroy_user_session_path)
      - else
        = link_to("sign in", new_user_session_path)
